In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

### Player Count

* Display the total number of players

In [2]:
total_players = len(purchase_data["SN"].unique())
total_players_df = pd.DataFrame({"Total Players":[total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#basic calculations to obtain number of unique items, average price, etc.
Purchasing_analysis = [{"Number of Unique Items": len(purchase_data["Item Name"].unique()), 
                      "Average Price": purchase_data["Price"].mean(),
                      "Number of sales": purchase_data["Item ID"].count(),
                    "Total Revenue": purchase_data["Price"].sum()}]
Purchasing_analysis


#summary data frame to hold the results

Summary_table_df = pd.DataFrame(Purchasing_analysis)
Summary_table_df 

Summary_table_df["Average Price"]= Summary_table_df["Average Price"].map("${:,.2f}".format)
Summary_table_df["Total Revenue"]= Summary_table_df["Total Revenue"].map("${:,.2f}".format)
Summary_table_df

   Number of Unique Items Average Price  Number of sales Total Revenue
0                     179         $3.05              780     $2,379.77

### Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Percentage and Count of Male, Female and Other Players
gender_groupby = purchase_data.groupby("Gender")
gender_total = gender_groupby.nunique()["SN"]


percentage_of_players = gender_total/total_players * 100

gender_demographics_df = pd.DataFrame({"Total Counts": gender_total, "Percentage of Players": percentage_of_players})
gender_demographics_df 

gender_demographics_df["Percentage of Players"]= gender_demographics_df ["Percentage of Players"].map("{:,.2f}%".format)
gender_demographics_df

                       Total Counts Percentage of Players
Gender
Female                           81                14.06%
Male                            484                84.03%
Other / Non-Disclosed            11                 1.91%

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [5]:
#Ran basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender. 
#Created a summary data frame to hold the results
purchasing_analysis_gender_df = pd.DataFrame({"Purchase Count":gender_groupby["Purchase ID"].count(), 
                                     "Average Purchase Price":gender_groupby["Price"].mean() , 
                                     "Total Purchase Value" : gender_groupby["Price"].sum(),
                                     "Average Total Purchase": gender_groupby["Price"].sum()/total_players})
                                 
purchasing_analysis_gender_df 

purchasing_analysis_gender_df["Average Purchase Price"]= purchasing_analysis_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_gender_df["Total Purchase Value"]= purchasing_analysis_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender_df["Average Total Purchase"]= purchasing_analysis_gender_df["Average Total Purchase"].map("${:,.2f}".format)

purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase
Gender,,,,
Female,113,$3.20,$361.94,$0.63
Male,652,$3.02,"$1,967.64",$3.42
Other / Non-Disclosed,15,$3.35,$50.19,$0.09

## Age Demographics